.grid {
  display: grid;
  grid-template-columns: 10rem auto;
  gap: 2rem;
  padding: 2rem;

  > label {
    display: block;
    font-size: 1.75rem;
    font-weight: 700;
  }

  > span {
    font-size: 2rem;
    font-weight: 400;
  }
}

.reason {
  grid-column: 1 / span 2;
}
