<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Green Pass Reader</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap">
		<style>
			* {
				box-sizing: border-box;
			}

			html, body {
				margin: 0;
				padding: 0;

				--gpr-primary-main: #335984;
				--gpr-primary-light: #5a7da6;
				--gpr-secondary-main: #d50000;
				--gpr-text-on-primary: #fff;
			}

			* {
				font-family: 'Atkinson Hyperlegible', sans-serif;
			}

			h1, h2, h3, h4, h5, h6 {
				font-weight: 400;
			}
		</style>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
